<h1 class="d-flex justify-content-center">

welcome <%= @user.name %>

</h1>

<%= link_to 'Test longest substrings without repeating characters', new_algo_path, class:'d-flex justify-content-center' %>
<%= link_to 'Problem Descriptions', '/algos', class:'d-flex justify-content-center' %>