<div class="d-flex">
  <div class="left col-6">
    <div class="p-3">
      <h3>
        Longest Substring Without Repeating Characters
      </h3>

      <p class="my-3"> Given a string s, find the length of the longest substring without repeating characters. </p>

      <p class="text-bold">Example 1</p>
      <div class="bg-light w-100 p-2">
        <code>
          <b> Input: </b> s = "abcabcbb" <br>
        </code>
        <code>
          <b> Output: </b> 3 <br>
        </code>
        <code>
          <b>Explanation: </b> The answer is "abc", with the length of 3.
        </code>
      </div>

      <p class="font-weight-bold my-2">Example 2</p>
      <div class="bg-light w-100 p-2">
        <code>
          <b> Input: </b> s = "bbbbb" <br>
        </code>
        <code>
          <b> Output: </b> 1 <br>
        </code>
        <code>
          <b>Explanation: </b> The answer is "b", with the length of 1.
        </code>
      </div>

      <p class="text-bold my-2">Example 3</p>
      <div class="bg-light w-100 p-2">
        <code>
          <b> Input: </b> s = "pwwkew" <br>
        </code>
        <code>
          <b> Output: </b> 3 <br>
        </code>
        <code>
          <b>Explanation: </b> The answer is "wke", with the length of 3.
        </code>
        Notice that the answer must be a substring, "pwke" is a subsequence and not a substring.
      </div>
    </div>
  </div>
  <div class="right col-5 py-5">
    <div class="login-main row justify-content-center">
      <div class="col-12 col-md-10 col-lg-auto">
        <div class="box main align-items-center d-flex flex-column border p-5 container">
          <div class="login-field">
            <%= render 'algos/form' %>
            <%= link_to 'Problem Descriptions', '/algos', class:'' %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column p-3 justify-content-center align-items-center">
      <h1 >
        <% unless @algoo.nil? %>
          <%= longest_string(@algoo.name) %>
        <% end %>
      </h1>
    </div>
  </div>
</div>